*
{
    margin:0;
    padding:0;
}

button
{
    display:block;
    margin:auto;
}

.container
{
    margin-right:auto;
    margin-left:auto;
    height:480px;
    width:640px;
    border:2px solid blue;
    display:flex;
    flex-wrap:wrap;
}

.container div
{
    height:30px;
    width:40px;
    background-color:black;
}